<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361064448208-3s2ei9073habn7rhgk30bs9gbbqva8gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361064448208-3s2ei9073habn7rhgk30bs9gbbqva8gt</string>
	<key>API_KEY</key>
	<string>AIzaSyCyvvoNw4yA5K9HyaynoIsRYN3baQmsEbg</string>
	<key>GCM_SENDER_ID</key>
	<string>361064448208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>voting-app-3b57d</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-app-3b57d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361064448208:ios:b293feaa296824d9dbded5</string>
</dict>
</plist>